version: "3.7"

services:
  iseemore_nginx:
    image: nginx:1.17.8
    container_name: iseemore_nginx
    ports:
      - 1001:1001
    volumes:
      - ./backend:/var/www/html/iseemore
      - ./env/log/nginx:/var/log/nginx/
      - ./env/nginx/conf.d/:/etc/nginx/conf.d/
    links:
      - iseemore_backend:iseemore_backend
    networks:
      iseemore:
        ipv4_address: 172.30.0.50

  iseemore_backend:
    image: mrnefelim/youtube-backend:latest
    container_name: iseemore_backend
    volumes:
      - ./backend:/var/www/html/iseemore
    networks:
       - iseemore

  iseemore_mysql:
    image: mysql:5.7
    container_name: iseemore_mysql
    restart: always
    ports:
      - 33061:3306
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
    volumes:
      - ./env/database:/var/lib/mysql
    networks:
      - iseemore

  iseemore_frontend:
    image: mrnefelim/youtube-frontend:latest
    container_name: iseemore_frontend
    volumes:
      - ./frontend:/web
    ports:
      - 8080:8080
    networks:
      - iseemore

networks:
  iseemore:
    ipam:
      driver: default
      config:
        - subnet: 172.30.0.0/16